/data/*.npy
/data/*.zip
/data/*.pt
/data/*.pkl
/data/MOVE4D/female/*
/data/MOVE4D/male/*
__pycache__
star/__pycache__
star/*.npz
tests
/BKP
src/__pycache__
src/star/__pycache__
src/star/*.npz
src/tests
src/BKP
.ipynb_checkpoints/*
output/*